/*!
 * Fransisca Image Galery
 *
 * Afriq Yasin Ramadhan
 */
/*Import Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
	font-family: segoeuil;
	src: url('../fonts/segoeuil.ttf');
}

@font-face {
	font-family: segoeui;
	src: url('../fonts/segoeui.ttf');
}

@font-face {
	font-family: segoeuib;
	src: url('../fonts/segoeuib.ttf');
}

body {
	padding-top: 125px;
	background: #fafafa;
	background: url(../img/body-bg.png) repeat;
	font-family: segoeui;
	-webkit-font-smoothing: antialiased;
}

/* .: NAVIGASI :. */
.navbar-inner {
	min-height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	background-image: -moz-linear-gradient(top, #fff, #fafafa);
	background-image: -ms-linear-gradient(top, #fff, #fafafa);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#fafafa));
	background-image: -webkit-linear-gradient(top, #fff, #fafafa);
	background-image: -o-linear-gradient(top, #fff, #fafafa);
	background-image: linear-gradient(top, #fff, #fafafa);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333',
		endColorstr='#222222', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0
		rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0
		rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0
		rgba(0, 0, 0, 0.1);
	border-top: 1px solid #ccc;
}

.navbar .divider-vertical {
	width: 1px;
	height: 40px;
	margin: 0 9px;
	overflow: hidden;
	background-color: #fafafa !important;
	border-right: 1px solid #ccc !important;
}

.navbar .nav>li>a {
	float: none;
	padding: 9px 10px 11px;
	line-height: 19px;
	color: #888;
	text-decoration: none;
	background: none;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	text-shadow: none !important;
}

.navbar .nav>li>a:hover {
	color: #000;
	text-decoration: none;
	background-color: none;
	background: none;
}

.navbar .nav .active>a,.navbar .nav .active>a:hover {
	color: #000;
	text-decoration: none;
	background: none;
	/*background-color: #222222;*/
}

.navbar-search .search-query {
	padding: 3px 9px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
	color: #ffffff;
	background-color: #eee;
	border: 1px solid #ccc;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.navbar-search .search-query:-moz-placeholder {
	color: #888;
	font-style: italic;
}

.navbar-search .search-query::-webkit-input-placeholder {
	color: #888;
	font-style: italic;
}

.navbar-search .search-query:focus,.navbar-search .search-query.focused
	{
	padding: 4px 10px;
	color: #333333;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #ffffff;
	border: 0;
	outline: 0;
	-webkit-box-shadow: 0 0 1px 1px #ccc !important;
	-moz-box-shadow: 0 0 1px 1px #ccc !important;
	box-shadow: 0 0 1px 1px #ccc !important;
}

.navbar .brand {
	padding: 6px 20px 8px;
	margin-left: -20px;
}

.brand img {
	max-width: 155px;
	height: 22px;
}

/* .: SIDEBAR MENU :. */
.nav-tabs.nav-stacked>li>a {
	background: #fff;
}

.nav-tabs.nav-stacked>li>a:hover {
	background: #f6f6f6;
}

.nav-tabs>.active>a,.nav-tabs>.active>a:hover {
	background-color: #f6f6f6 !important;
}

.nav-tabs.nav-stacked>li:first-child>a {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.nav-headers {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 15px;
}

.nav-headers h3 {
	font-weight: lighter;
}

/* .: GALERI :. */
.galery {
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	height: 380px;
	margin-bottom: 30px;
	background: #fff;
}

.galery:hover {
	
}

.menu-galery {
	border-bottom: 1px solid #ccc;
	height: 40px;
}

.menu-galery ul {
	list-style-type: none;
}

.menu-galery ul li {
	float: left;
	margin-right: 15px;
}

.menu-galery ul li a {
	margin-right: 18px;
	opacity: 0.6;
	filter: alpha(opacity =                           60);
	/* For IE8 and earlier */
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

.menu-galery ul li a:hover {
	opacity: 1;
	filter: alpha(opacity =                           100);
	/* For IE8 and earlier */
}

.image-galery {
	border: 1px solid #fafafa;
	/*width: 225px;*/
	height: 210px;
	margin: 20px auto;
}

.image-galery img {
	width: 100%;
	height: 100%;
	display: block;
}

.count-galery {
	height: 30px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.count-galery ul {
	list-style-type: none;
}

.count-galery ul li {
	float: left;
	margin-left: -5px;
	margin-right: 20px;
}

.tags-galery {
	width: 225px;
	margin: 5px auto;
}

.tags-galery a {
	text-decoration: none;
}

.tags-galery a:hover {
	color: #555;
	text-decoration: underline;
}

.pagination ul {
	background: #fff;
}

.footer {
	margin-bottom: 20px;
}

.footer ul {
	list-style-type: none;
	text-align: right;
	float: right;
}

.footer ul li {
	float: left;
}

.footer ul li a {
	margin-left: 15px;
	color: #222;
	text-decoration: underline;
}

.footer ul li a:hover {
	text-decoration: none;
}

/* .: TYPHOGRAPHY :. */
hr.alt {
	border-top: 1px solid #ccc !important;
	border-bottom: 1px solid #fff !important;
}

.auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.btm10 {
	margin-bottom: 82px !important;
}

.t-center {
	text-align: center;
}

/* .: DETAIL :. */
.navbar-fixed-top .nav .gravatar a,.navbar-fixed-top .nav .gravatar a:hover
	{
	background: url(../img/gravatar.jpg) left 5px no-repeat;
	background-size: 100%;
	height: 15px;
	width: 10px;
	margin-right: -2px;
}

.image-detail {
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	min-height: 100px;
	background: #fff;
}

.image-single {
	margin: 20px;
	max-width: 820px;
	min-height: 100px;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.image-single img {
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}

/* .: IMAGE DESCRIPTION :. */
.image-description {
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	margin-top: 10px;
	background: #fff;
	min-height: 50px;
}

.image-description h3 {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 20px;
	font-weight: bold;
}

.image-description p {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: justify;
	font-family: segoeui;
	font-size: 14px;
	line-height: 15px;
}

/* .: COMMENTS :. */
.image-comments {
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	margin-top: 10px;
	background: #fff;
	min-height: 50px;
}

.image-comments h3 {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
	font-weight: bold;
}

.post-comment {
	margin-left: 20px;
	font-family: segoeui;
}

.inp-btm {
	margin-bottom: 10px !important;
}

.comment {
	width: 560px;
}

.comment h3 {
	margin: 20px 20px;
	font-weight: bold;
}

.comment ul {
	list-style-type: none;
	margin-left: 20px;
	border-top: 1px solid #ddd;
}

.comment ul li {
	border-bottom: 1px solid #ddd;
	/*border-left:1px solid #ddd;
    border-right: 1px solid #ddd;*/
	margin-left: 0;
	padding-top: 10px;
}

.comment-blue {
	background: #EDF7FE;
}

.avatar {
	margin-left: 10px;
}

.avatar img {
	width: 35px;
	height: 35px;
	float: left;
	margin-right: 10px;
}

.comment-name {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

.comment-name a:hover {
	color: #08C;
}

.comment-date {
	color: #777;
	font-size: 11px;
	font-weight: lighter;
}

.comment-date p {
	text-align: left;
}

.comment-text {
	text-align: justify;
	width: 520px;
	margin-right: 20px;
	margin-left: 10px;
	color: #222;
	font-size: 14px;
	line-height: 15px;
	font-family: segoeui;
}

/* .: SIDEBAR DETAIL :. */
.sidebar-detail {
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	height: 300px;
	background: #fff;
}

/* .: TOP SIDEBAR MENU :.*/
.sidebar-detail-menu {
	background: #fff;
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	margin-bottom: 10px;
	height: 50px;
	font-family: segoeui;
}

.sidebar-detail-menu ul {
	list-style-type: none;
	margin-top: 0;
	margin-left: 0;
}

.sidebar-detail-menu ul li {
	float: left;
	height: 35px;
	padding-top: 15px;
}

.sidebar-detail-menu ul li a {
	padding: 0 0.75em 0 0.86em;
	opacity: 0.6;
	filter: alpha(opacity =                           60);
	/* For IE8 and earlier */
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

.sidebar-detail-menu ul li:hover {
	opacity: 1.0;
	filter: alpha(opacity =                           100);
	border-bottom: 1px solid #333;
	cursor: pointer;
}

.sidebar-detail-menu ul li a:hover {
	text-decoration: none;
}

div[class*=sidebar-detail-] h4 {
	font-weight: bold;
	font-size: 16px;
}

div[class*=sidebar-detail-] {
	font-family: segoeui;
	font-size: 14px;
}

.sidebar-detail-similiar {
	background: #fff;
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	margin-bottom: 10px;
	height: 215px;
}

/* .: SIMILIAR IMAGE :.*/
.similiar-image {
	width: 240px;
	height: 188px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.sidebar-detail-similiar h4 {
	text-align: center;
	margin-bottom: 10px;
}

.img-thumbs {
	width: 80px;
	height: 80px;
	box-shadow: 0 0 3px 0px #fff;
}

/* .: IMAGE CATEGORY :. */
.sidebar-detail-category {
	min-height: 150px;
	background: #fff;
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
}

.category-image {
	width: 240px;
	min-height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cat-tags {
	margin-bottom: 10px;
}

.cat-tags a {
	text-decoration: none;
	color: #08C;
}

.cat-tags a:hover {
	color: #555;
	text-decoration: underline;
}

.cat-category {
	margin-bottom: 10px;
}

.cat-category a {
	text-decoration: none;
	color: #B50000;
}

.cat-category a:hover {
	color: #555;
	text-decoration: underline;
}

.cat-downloaded {
	margin-bottom: 10px;
}

.cat-downloaded a {
	text-decoration: none;
	color: #D44413;
}

.cat-downloaded a:hover {
	color: #555;
	text-decoration: underline;
}

.cat-liked {
	margin-bottom: 10px;
}

.cat-liked a {
	text-decoration: none;
	color: #357D13;
}

.cat-liked a:hover {
	color: #555;
	text-decoration: underline;
}

.cat-shared {
	margin-bottom: 0px;
}

.cat-shared a {
	text-decoration: none;
	color: #C92AC9;
}

.cat-shared a:hover {
	color: #555;
	text-decoration: underline;
}

/* .: MORE IMAGE :. */
.more-images {
	margin-top: 60px;
	text-align: center;
	margin-bottom: 20px;
}

.more-images a:hover {
	color: #555;
}

.other-images {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

/* .: SIGN IN + SIGN UP :. */
.social-signin {
	margin: 0 90px 0 90px;
}

.account-container {
	width: 389px;
	display: block;
	margin: 0px auto 65px auto;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 0px 0px 2px #dadada;
}

.form-content {
	padding: 16px 28px 23px;
}

.login-fields {
	
}

.login-fields .field {
	margin-bottom: 1.25em;
}

.login-fields label {
	display: none;
}

.login-fields input {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 6px 15px 5px 10px;
	background-color: #fdfdfd;
	width: 255px;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
}

/* .username-field {
	background: url(../img/user.png) no-repeat;
}

.password-field {
	background: url(../img/password.png) no-repeat;
} */
.email-field {
	background: url(../img/email.png) no-repeat;
}

.login-actions {
	float: left;
	width: 100%;
	margin-top: -1em;
	margin-bottom: 1.25em;
}

.login-social {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	border: 1px solid #CCC;
	border-right: none;
	border-left: none;
}

span.login-checkbox {
	float: left;
	margin-top: 31px;
}

span.login-checkbox>input[type='checkbox'] {
	opacity: 0;
	float: left;
	width: 15px;
}

span.login-checkbox>input[type='checkbox']+label {
	clear: none;
	height: 15px;
	display: block;
	padding: 0 0 0 22px;
	margin: 0;
	font-size: 12px;
	line-height: 1.2em;
	background: url(../img/check.png) no-repeat 0 0;
	cursor: pointer;
}

span.login-checkbox>input[type='checkbox']:checked+label {
	background-position: 0 -15px;
}

/** Text Under Box**/
.login-extra {
	display: block;
	width: 300px;
	margin: 1.5em auto;
	text-align: center;
	line-height: 19px;
	text-shadow: 1px 1px 0px #fff;
}

.account-container h1 {
	margin-bottom: .4em;
	color: #333;
}

.btn-signin {
	display: inline-block;
	float: right;
	margin-top: 18px;
	margin-right: 10px;
}

.register .login-social {
	margin-bottom: 1em;
}

.register .login-actions {
	margin-bottom: 0;
}

.register .login-fields input {
	width: 299px;
	padding-left: 6px;
}

.register h1 {
	color: #444;
}

.register span.login-checkbox {
	position: relative;
	top: -6px;
	width: 200px;
}

.register span.login-checkbox>input[type="checkbox"]+label {
	position: relative;
	line-height: 1.3em;
}

@media ( max-width : 480px) {
	.account-container {
		width: 280px;
		margin-top: 35px;
	}
	.login-fields input {
		width: 160px;
	}
	.login-social {
		width: 100%;
	}
	.twitter {
		display: block;
		margin-bottom: 1em;
	}
	.register .login-fields input {
		width: 204px;
		padding-left: 6px;
	}
}

/* .: ACCOUNT SETTING :. */

/* .: LEFT :. */
.left-sidebar {
	box-shadow: 0 0 1px 1px #ccc;
	background: #fff;
	min-height: 200px;
}

.account-settings {
	width: 210px;
	border: 1px solid #ccc;
	height: 230px;
	margin: 20px auto 10px auto;
	padding: 5px;
}

.account-settings img {
	width: 100%;
	height: 100%;
}

.account-detail {
	width: 210px;
	min-height: 50px;
	margin: 0 auto 20px auto;
	padding: 5px;
}

.account-detail strong {
	font-family: segoeuib;
}

/* .: RIGHT :. */
.content-setting {
	box-shadow: 0 0 1px 1px #ccc;
	background: #fff;
	min-height: 150px;
	font-family: segoeui;
}

.content-settings {
	width: 830px;
	min-height: 150px;
	margin: 20px auto;
}

/* .: PUBLIC PROFILE :. */
.public-profile {
	width: 830px;
	min-height: 150px;
	margin: 20px auto 0 auto;
	text-align: justify;
}

.portfolio-images {
	margin: 10px auto 20px auto;
	text-align: justify;
}

.portfolio-images h3 {
	margin-left: 20px;
	margin-bottom: 10px;
}

.list-images {
	margin-bottom: 10px;
}

.paging-portfolio {
	margin-left: 20px;
}

/* .: ABOUT :. */
.about-wrapper {
	background: #fff;
	min-height: 100px;
	margin-bottom: 20px;
}

.clearmarg {
	margin-left: 0 !important;
}

.marg10-left {
	margin-left: 10px !important;
}

.marg20-right {
	margin-right: 20px;
}

/* .: LEFT :. */
.about-title {
	margin: 20px 0;
}

.about-title h2 {
	margin-left: 20px;
	border-bottom: 1px solid #ccc;
}

/* .: RIGHT :. */
.about-content {
	margin: 20px 0;
}

.about-content p {
	margin-right: 20px;
	text-align: justify;
}

.about-content h3 {
	font-size: 22px;
	margin-bottom: 10px;
}

.img-thumbnail {
	margin-right: 10px;
}

/*---Extension---*/
.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

.custom-margin-30 {
	margin-left: 0 !important;
	margin-bottom: 30px !important;
}

.no-margin-left {
	margin-left: 0 !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-5 {
	margin-bottom: 5px !important;
}

/*.row-fluid.advert [class*="span4 galery"] {
    margin-left:0;
    margin-right: 2.564102564%;
    *margin-right: 2.510911074638298%;
  }*/
.row-fluid.advert [class*="span4 galery"]:nth-child(4),.row-fluid.advert [class*="span4 galery"]:nth-child(7)
	{
	margin-left: 0 !important;
}

.nav-headers {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	height: auto !important;
	min-height: 80px;
	padding: 15px;
	line-height: 1.6;
	font-family: 'Arial';
	-webkit-font-smoothing: antialiased;
}

.nav-headers .input-append .btn {
	margin-left: -5px;
}

.nav-headers select {
	line-height: 18px;
	height: 20px;
	margin-bottom: 5px;
	font-size: 11px;
}

.nav-headers .select2-container.select2.span12 {
	margin-left: 0px;
	margin-bottom: 5px;
	font-size: 13px;
}

.bs-docs-example {
	position: relative;
	margin: 0 0 15px 0;
	padding-top: 39px;
	padding-right: 10px;
	padding-bottom: 14px;
	padding-left: 10px;
	background-color: #f7f7f9;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 0px;
}

.bs-docs-example:after {
	content: "Quick Search";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #72c02c;
	border: 1px solid #72c02c;
	color: white;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.bs-docs-example.latest:after {
	content: "RECENTLY ADDED";
}

.bs-docs-example.feature:after {
	content: "FEATURED CARS";
}

.bs-docs-example-2 {
	background-color: #ffffff !important;
}

.bs-docs-example.reg:after {
	content: "NEW USER REGISTRATION";
}

.bs-docs-example.reg-vehicle:after {
	content: "VEHICLE REGISTRATION FORM";
}

.bs-docs-example.attachment:after {
	content: "VEHICLE ATTACHMENTS";
}

.bs-docs-example.safety:after {
	content: "SAFETY ACCESSORY";
}

.bs-docs-example.interior:after {
	content: "INTERIOR ACCESSORY";
}

.bs-docs-example.other:after {
	content: "OTHER ACCESSORY";
}

.bs-docs-example.preview-details:after {
	content: "VEHICLE DETAILS";
}

.bs-docs-example.preview-details,.bs-docs-example.contact {
	background-color: white;
}

.bs-docs-example.vehicle-result:after {
	content: "VEHICLE RESULT";
}

.preview-details .cat-liked {
	margin-bottom: 2px;
	font-weight: normal;
	pointer-events: none;
}

.preview-details .cat-liked a {
	font-weight: bold;
}

.contact .cat-liked {
	margin-bottom: 2px;
	font-weight: normal;
	pointer-events: none;
}

.contact .cat-liked a {
	font-weight: bold;
}

.nav-headers .preview-details {
	line-height: 1.6;
	font-family: segoeui !important;
}

.bs-docs-example.userform:after {
	content: "USER PROFILE";
}

.bs-docs-example.accessory:after {
	content: "VEHICLE ACCESSORY";
}

.bs-docs-example.description:after {
	content: "NOTES FROM SELLER";
}

.bs-docs-example.contact:after {
	content: "CONTACT SELLER";
}

.nav-headers .input-prepend,.input-append {
	margin-bottom: 0px;
}

.nav-headers  h4 {
	color: #9da0a4;
	margin-bottom: 4px;
	font-size: 12px;
}

.nav-headers  label {
	color: #9da0a4;
	font-size: 13px;
	margin-bottom: 2px;
}

.nav-headers  label.more {
	margin-bottom: 5px;
	margin-top: 5px;
}

.galery {
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	height: 380px;
	margin-bottom: 30px;
	background: #fff;
}

.galery2 {
	height: auto !important;
}

.nav-headers .nav-tabs>li>a {
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 18px;
	border: 1px solid #ddd;
	background-color: #ddd;
	border-bottom-color: #ddd;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #585f69;
	font-weight: normal;
}

.nav-headers .nav-tabs>li>a:hover {
	border: 1px solid #ddd;
	border-bottom-color: #ddd;
	color: #72c02c;
}

.nav-headers .nav-tabs>li.active>a,.nav-tabs>li.active>a:hover {
	color: #fff;
	cursor: pointer;
	cursor: default;
	background-color: #72c02c !important;
	border: 1px solid #72c02c;
	border-bottom-color: #72c02c;
	font-weight: normal;
}

.nav-headers .nav-tabs>li {
	padding: 7px 0px 0 10px;
}

.nav-headers .nav-tabs>li {
	margin-bottom: 0;
}

.nav-headers .nav-tabs {
	border-bottom: 1px solid #f7f7f9;
}

.nav-headers .image-galery {
	border: 1px solid #fafafa;
	margin: 0 auto;
}

.nav-headers-custom {
	margin-top: 10px;
	border: 1px solid #ccc;
}

.galery-home {
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	min-height: 380px;
	margin-bottom: 30px;
	background: #fff;
}

.galery-home .image-galery {
	padding: 0 20px;
}

#top {
	background-color: #fff;
	font-family: 'Arial';
}

.header-container {
	border-bottom: 1px solid #fff;
	line-height: 1.6;
	font-family: 'Arial';
	-webkit-font-smoothing: antialiased;
}

.header-container p,.header-container a,.header-container li {
	line-height: 1.6 !important;
}

.search-panel .nav.sub-menu {
	background: transparent !important;
}

.header-container-fixed-top {
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
}

.padding-10 {
	padding: 10px;
}

.h4-reg {
	margin-bottom: 15px;
	color: #72c02c;
}

.form-horizontal.signup .control-group {
	margin-bottom: 10px;
}

.search-panel .nav-tabs.nav-stacked>li>a {
	color: #585f69;
	line-height: 1.6;
	font-family: 'Arial';
	-webkit-font-smoothing: antialiased;
}

.search-panel .nav-tabs.nav-stacked>li>a:HOVER {
	color: #ffffff;
	background-color: #72c02c;
}

.reg-vehicle {
	-webkit-font-smoothing: antialiased !important;
}

.reg-vehicle label {
	font-weight: bold;
}

.reg-vehicle h4 {
	-webkit-font-smoothing: antialiased !important;
	font-family: 'Arial';
	display: block;
	text-shadow: none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	font-weight: normal;
	font-size: 20px;
	color: #72c02c;
	border-bottom: 2px solid #dadee2;
	padding-bottom: 9px;
	color: #72c02c;
}

h4.title-vehicle {
	border-bottom: 1px solid #dadee2;
	padding: 0 20px 12px 20px;
	color: #357D13;
}

.title-vehicle a {
	text-decoration: none;
}

.preview .image-single {
	max-width: 400px;
	max-height: 400px;
}

.public-profile-2 {
	margin: 0px auto 0 auto;
	text-align: justify;
	padding: 10px;
}

.radio.inline label {
	font-weight: normal !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
	-webkit-font-smoothing: antialiased !important;
	font-weight: normal;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-weight: normal;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-weight: normal;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-weight: normal;
}

.img-thumb {
	width: 100px;
	height: 100px;
	margin-right: 10px !important;
}

.img-thumb button {
	
}

.img-thumb img {
	width: 100px;
	height: 100px;
}

.reg-vehicle .control-group.span4.no-margin { /* width: 33.3%; */
	
}
/*  widget  */
.widget {
	background: #fafafa;
	border: 1px solid #bfbfbf;
	clear: both;
	margin-top: 0px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.widget .widget-header {
	background-color: #ebebeb;
	/* Fallback Color */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),
		to(#ebebeb));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
	/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(top, #f7f7f7, #ebebeb);
	/* FF3.6 */
	background-image: -ms-linear-gradient(top, #f7f7f7, #ebebeb);
	/* IE10 */
	background-image: -o-linear-gradient(top, #f7f7f7, #ebebeb);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, #f7f7f7, #ebebeb);
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #d9d9d9;
	height: 24px;
	line-height: 24px;
	padding: 10px;
}

.widget .widget-header .fs1 {
	margin-right: 1px;
}

.widget .widget-header .fs1:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.widget .widget-header .title {
	color: #404040;
	float: left;
	font-weight: bold;
	font-size: 13px;
}

.widget .widget-header .title .attribution,.widget .widget-header .title .mini-title
	{
	font-size: 11px;
	padding-left: 4px;
	color: #b3b3b3;
	font-weight: normal;
}

.widget .widget-header span.tools {
	padding: 0;
	float: right;
	margin: 0;
}

.widget .widget-header span.tools>a {
	display: inline-block;
	margin-right: 5px;
	color: #666666;
	margin-top: 3px;
}

.widget .widget-header span.tools>a:hover {
	text-decoration: none;
	opacity: .6;
}

.widget .widget-body {
	margin: 5px;
	padding: 5px;
	background: #f2f2f2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*  Horizontal Rule  */
.hr-stylish {
	padding: 0;
	border: none;
	line-height: 0;
	border-top: medium double #b3b3b3;
	color: #b3b3b3;
	text-align: center;
}

.hr-stylish:after {
	content: "";
	display: inline-block;
	position: relative;
	top: -12px;
	font-size: 14px;
	padding: 0 10px;
	background: #f7f7f7;
}

.breadcrumb-beauty {
	list-style: none;
	overflow: hidden;
	font-size: 12px;
	background: #e6e6e6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	margin: 0;
	font-family: 'Monda';
	font-size: 16px;
	color: #fff;
	display: block;
	text-shadow: none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.breadcrumb-beauty li {
	float: left;
}

.breadcrumb-beauty li a {
	background: #e6e6e6;
	color: #4d4d4d;
	padding: 4px 0 4px 48px;
	position: relative;
	display: block;
	float: left;
}

.breadcrumb-beauty li a:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid #e6e6e6;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2;
}

.breadcrumb-beauty li:first-child a {
	padding-left: 10px;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
}

.breadcrumb-beauty li:nth-child(2) a {
	background: #d9d9d9;
}

.breadcrumb-beauty li:nth-child(2) a:after {
	border-left-color: #d9d9d9;
}

.breadcrumb-beauty li:nth-child(3) a {
	background: #d1d1d1;
}

.breadcrumb-beauty li:nth-child(3) a:after {
	border-left-color: #d1d1d1;
}

.breadcrumb-beauty li:nth-child(4) a {
	background: #c9c9c9;
}

.breadcrumb-beauty li:nth-child(4) a:after {
	border-left-color: #c9c9c9;
}

.breadcrumb-beauty li:last-child a {
	background: transparent !important;
	color: black;
	pointer-events: none;
	cursor: default;
}

.breadcrumb-beauty li:last-child a:after {
	border-left-color: transparent;
}

.breadcrumb-beauty li.active a {
	background: #72c02c;
	/*color: #4d4d4d;*/
	color: #FFF;
	padding: 4px 0 4px 48px;
	position: relative;
	display: block;
	float: left;
	font-weight: normal;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.breadcrumb-beauty li.active a:after {
	border-left-color: #72c02c;
}

.breadcrumb-beauty li.active:last-child a {
	background: #72c02c !important;
	cursor: default;
}

p.accessory-list {
	margin: 0;
}

p.accessory-list span:first-child {
	font-weight: bold;
	color: #72c02c;
}

p.accessory-list span:nth-child(2) {
	display: none;
}

.form-actions {
	padding: 9px 20px 10px;
}

.vehicle-details {
	position: relative;
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	min-height: 100px;
	background: #fff;
}

.vehicle-details .image-detail {
	box-shadow: 0 0 0px 0px #ccc;
	-moz-box-shadow: 0 0 0px 0px #ccc;
	-webkit-box-shadow: 0 0 0px 0px #ccc;
	-o-box-shadow: 0 0 0px 0px #ccc;
	min-height: 100px;
	background: #fff;
}

.span4.special {
	font-family: Arial !important;
	line-height: 17px;
	box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-o-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	height: 550px;
	margin-bottom: 0px;
	background: #fff;
	padding: 0 15px;
	background-color: #f7f7f9;
}

div.change-font {
	font-family: Arial !important;
	line-height: 16px;
	font-size: 14px;
}

.nav-headers .select2-container.span12 {
	margin-left: 0px;
	margin-bottom: 5px;
	font-size: 13px;
}

.popover-content {
	color: #72c02c;
}

#myModal .account-container {
	margin-bottom: 0 !important;
}

#myModal .modal-hidden {
	display: none;
}

.row-fluid.list-header {
	background: #f7f7f9;
	padding: 10px;
	margin-bottom: 10px;
	font: 14px/24px sans-serif;
	color: #666;
	font-size: 1em;
	font-weight: bold;
}

.row-fluid.list-header [class*="span"] {
	margin-left: 0;
}

.table th.align-right,.table td.align-right {
	text-align: right;
}

.list-other-details {
	color: #585f69;
	list-style-type: square;
	font-weight: normal;
	font-size: 13px;
	margin-top: 5px;
}

.list-other-details li {
	line-height: 15px;
}

.price-list {
	color: #15B;
	font-weight: normal;
}

.nav-headers-2 {
	background: #fff;
	border: 0 !important;
	border-bottom: none;
	height: auto !important;
	min-height: 10px;
	padding: 0px;
	line-height: 1.6;
	font-family: 'Arial';
	-webkit-font-smoothing: antialiased;
	margin-bottom: 15px;
}

.nav-headers-2 .nav {
	background: #f7f7f9 !important;
}

#rc_notify {
	left: 42%;
	top: 0;
	position: absolute;
	margin: 0 auto;
	text-align: left;
	clear: left;
	height: auto;
	z-index: 10000;
	text-align: center;
	padding: 6px 10px;
	border: 1px solid transparent;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	width: 200px;
	border-color: #f0c36d;
	background-color: #f9edbe;
	font-size: 14px;
	line-height: 20px;
	color: #222;
	font-weight: bold;
	font-family: arial, sans-serif;
	display: none;
}

.dl-horizontal.dealer-info dd {
	color: #3c495a;
	font-weight: normal;
}

dt,dd {
	line-height: 25px;
}

.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}

.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}