/* Portrait tablet to landscape and desktop */
@media only screen and (max-width: 880px) {
	.navbar .nav > li > a {
		font-size: 14px;
	}
}

/*For Portfolio Page*/
@media (max-width: 1200px) {
	.portfolio-responsive h2 {
		display:none;
	}
	.portfolio-responsive p {
		display:none;
	}
	.portfolio-responsive a.info {
		margin-top:55px !important;
	}
}
@media (max-width: 767px) {
	.portfolio-responsive h2 {
		display:block;
	}
	.portfolio-responsive a.info {
		margin-top:20px !important;
	}
}
/*End For Portfolio Page*/

@media (min-width: 980px) {
	/*Menu*/
	.navbar { float:right; border:none;}
	.collapse.in li a, 
	.collapse.in ul.dropdown-menu a, 
	.collapse.in li a.dropdown-toggle { 
		border:none;
	}
}

@media (max-width: 980px) {
	/*Search Box Menu1*/
	.navbar .search-open {
		top:-40px;
		left:38px;
		border:0;
		padding-top:5px;
		padding-bottom:1px;
		position:relative;
	}
	.navbar .search-open input {
		width:50%;
	}

	/*Search Box Menu2*/
	.navbar .search-open-inner {
		top:-51px;
		left:45px;
		border:0;
		padding-top:5px;
		padding-left:5px;
		padding-bottom:1px;
		position:relative;
		background:#3c495a;
	}
	.navbar .search-open-inner input {
		width:50%;
	}

	
	/*Image hover*/
	.da-thumbs li article em {
		display:none !important;
	}
}

@media (max-width: 900px) {
	/*Slider Sequence*/
	#sequence-theme .info {
		top:80px !important;
		width:60% !important;
		margin-right:50px;
	}

	/*Slider Parallax*/
	.da-slide .da-img {
		display:none;
	}
}

@media (max-width: 450px) {
	/*Slider Sequence*/
	#sequence-theme .info {
		top:70px !important;
		width:70% !important;
		margin-right:25px;
	}
	#sequence-theme h2 {
		font-size:30px !important;
	}
	#sequence-theme .info p {
		font-size:18px !important;
	}

	/*Slider Parallax*/
	.da-slide p {
		display:none;
	}
}

@media (max-width: 900px) { 
	/*Menu*/
	.nav-collapse .nav{ float:none !important; margin-top: 10px !important; }

	/*Service Block*/
	.service .desc { width: 55%}

	.contact-form .input-xlarge {width: 200px !important}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  
	/*Menu*/
	.nav-collapse .nav { margin-top: 10px !important; }

	/*Service Block*/
	.service .desc { width: 55%}

	/*Registration and Login*/
	.reg-page {
		max-width:100%;
	}
	.login-page {
		max-width:100%;
	}
	.login-page input.login-inputs {
		width:94%;
	}
	/*Login Page v1.1*/
	.log-page {
		width: 200px;
	}
	.header-container-fixed-top{
		right: 20px;
		left:20px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 	
	/*Menu*/
	.nav-collapse .nav{ margin-top: 10px !important;}

	/*Search Box Menu2*/
	.navbar .search-open-inner {
		top:-50px;
	}

	/*Service Block*/
	.service .desc { width: 60%}
	
	.header-container-fixed-top{
		right: 20px;
		left:20px;
	}

}

@media (min-width: 767px) {
	.no-space-pricing .span3 {
		width:25% !important;
		margin-left:0 !important;
	}
}
@media (max-width: 767px){
.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
padding: 9px 15px;
font-weight: bold;
color: #777;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;}


}
.custom-btn{
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
}

	
	
.nav-collapse.in:before, .nav-collapse.in:after {
clear: both;
}
@media (max-width: 979px){
body {
padding-top: 125px;
}
}